## PROBLEMS

In [3]:
#pack 10 multiples of 0 into a tuple
#unpack in 10 variables 

tpl = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
a, b, c, d, e, f ,g, h, i, j = tpl

print(a)

10

In [25]:
# name of boys and girls, boys name in tuples, fin dnumber of boys and girls

names = ["pinky", ("suresh",), "naina"]
b=0
g=0

for i in names:
    if isinstance(i, tuple):
        b=b+1
    else:
        g=g+1

print(f"Boys - {b}\nGirls - {g}")

Boys - 1
Girls - 2

In [ ]:
# names in new list

dtls = [("AI121","Vatty", 18), ("AI125", "Rohit", 56), ("AI45", "Jai", 21)]
names=[]

for i in dtls:
    names=names+[i[1]]
    
print(names)

['Vatty', 'Rohit', 'Jai']

In [53]:
# add ! at edn of tuple
# convert into strign
# extract (b, b) fron tuple
# find times of e
# check for r
# convert into list
# delete char b b e r

t = ("F","l","a","b","b","e","r","g","a","s","t","e","d")
t=(t+("!",))
print(t)

s=""
for i in t:
    s=s+i
print(s)

print(t[3:5])

print(t.count("e"))

if t.count("r")>0:
    print("r Exists in tuple")

print(list(t))

t=t[:3]+t[7:]
print(t)

('F', 'l', 'a', 'b', 'b', 'e', 'r', 'g', 'a', 's', 't', 'e', 'd', '!')
Flabbergasted!
('b', 'b')
2
r Exists in tuple
['F', 'l', 'a', 'b', 'b', 'e', 'r', 'g', 'a', 's', 't', 'e', 'd', '!']
('F', 'l', 'a', 'g', 'a', 's', 't', 'e', 'd', '!')

## Exercise

In [ ]:
# (b)
## IMPORTANT
lst=[("Apple", 34.4), ("Banana", 45.5), ("Cherry", 25.3)]

srtlst = sorted(lst, key=lambda x:x[1], reverse=True)

print(srtlst)

[('Banana', 45.5), ('Apple', 34.4), ('Cherry', 25.3)]

In [31]:
# (c)
# data about shares in tuples
# total cost of portfolio
# total amount gained or lost and percentage

dtls = [
        ("Mahindra", 14092024, 15, 5, 10),
        ("Tata", 12032025, 25, 100, 19),
        ("Reliance", 1012025,19, 24, 21)
        ]

c=0
for i in dtls:
    c=c+(i[2]*i[3])
print(f"Total cost of portfolio - {c}\n")

for i in dtls:
        if ((i[4]*i[3])-(i[2]*i[3])) <=0:
                print(f"Loss suffered for {i[0]} is {((i[4]*i[3])-(i[2]*i[3]))}")
        else :
                print(f"Profit gained for {i[0]} is {((i[4]*i[3])-(i[2]*i[3]))}")

Total cost of portfolio - 3031

Loss suffered for Mahindra is -25
Loss suffered for Tata is -600
Profit gained for Reliance is 48

## https://www.w3resource.com/python-exercises/tuple/

In [49]:
# 18. Write a Python program to reverse a tuple.

lst=("Apple","Banana", 45.5,"Cherry", 25.3)

c=reversed(lst)
print(tuple(c))

(25.3, 'Cherry', 45.5, 'Banana', 'Apple')

In [2]:
# 20. Write a Python program to print a tuple with string formatting.

a=(1,3,4)

print(f"this is a tuple - {a}")

this is a tuple - (1, 3, 4)

In [ ]:
# 21. Write a Python program to replace the last value of tuples in a list.
# IMP

lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([i[:-1]+(100,)for i in lst])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [1]:
# 22. Write a Python program to remove an empty tuple(s) from a list of tuples.

a = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

new=[]
for i in a:
    if i:
        new.append(i)

print(new)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [4]:
# 23. Write a Python program to sort a tuple by its float element.

a= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

print(sorted(a, key = lambda x:x[1], reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]